<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Modelo</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    
    <header>
        <h1>Modelo</h1>
    </header>

    <nav>
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="sobre.php">Sobre</a></li>
            <li><a href="contato.php">Contato</a></li>
        </ul>
    </nav>

    <main>
        <h2>Conteúdo</h2>
        <p>Conteúdo da página</p>
    </main>

    <footer>
        <p>Desenvolvido por Arthur</p>
    </footer>

</body>

</html>